* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.topnav-wrapper {
	position: fixed;
	z-index: 600;
	left: 0;
	right: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

.topnav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	z-index: 600;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f2f8ee;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topnav__links {
	position: relative;
	z-index: 600;
	display: flex;
	gap: 2rem;
	align-items: center;
	margin: 0;
	padding: 0;
	flex-direction: row;
	list-style-type: none;
}

#navbar_logo_link {
	position: relative;
	z-index: 600;
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}

#navbar_logo {
	width: 85px;
	margin: 0px;
}

#navbar_logo_text {
	margin-bottom: 10px;
}

#navbar_logo_name {
	font-family: 'Playwrite PE', cursive;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 5px;
}

#navbar_tagline {
	font-family: 'Comfortaa', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	color: #1f1f1e;
	margin: 0;
	padding-bottom: 10px;
}

a#navbar_logo_link {
	text-decoration: none;
	color: #0071bc;
}

.topnav__button {
	display: none;
}

.topnav__links button,
.topnav__links a {
	cursor: pointer;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Tahoma, sans-serif;
	display: block;
	font-size: 16px;
	background: none;
	border: none;
	color: #1f1f1e;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	position: relative;
	width: min-content;
	white-space: nowrap;
}

.topnav__links li {
	position: relative;
	list-style: none;
}

.topnav__links li a,
.topnav__links li button {
	display: flex;
	color: #1f1f1e;
	padding-bottom: 0.625em;
	text-decoration: none;
	position: relative;
	width: 100%;
	place-items: start;
	place-content: start;
}

.topnav__submenu {
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 13.125em;
	padding: 0.3125em 0;
	overflow: visible;
	background: white;
	color: #1f1f1e;
	list-style: none;
	text-decoration: none;
	margin-top: 1em;
}

.topnav__links a.active:after,
.topnav__links button.active:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0.09375em;
	bottom: 0;
	left: 0;
	background-color: #1f1f1e;
	visibility: visible;
}

@media (min-width: 901px) {
	.topnav {
		position: fixed;
	}

	.topnav__submenu {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.topnav__links li:last-child {
		margin-right: 1em;
		float: right;
	}

	.open-left {
		right: 0;
	}

	.has_submenu:hover > ul {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0.5em;
	}

	.has_submenu:hover::after {
		content: '';
		display: block;
		width: 100%;
		padding: 1em;
		height: 30px;
		margin-bottom: -30px;
		position: absolute;
	}

	.has_submenu li a:first-child {
		margin-top: 1.25em;
	}

	.has_submenu li a:last-child {
		margin-bottom: 0.625em;
	}

	.topnav__links a:hover,
	.topnav__links button:hover {
		color: #1f1f1e;
	}

	.topnav__links a span,
	.topnav__links button span {
		position: relative;
	}

	.topnav__links a span::before,
	.topnav__links button span::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		top: calc(100% + 10px);
		left: 0;
		background-color: #0071bc;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}

	.topnav__links a:hover span::before,
	.topnav__links button:hover span::before {
		transform: scaleX(1);
		width: 100%;
	}
}

.topnav__links [data-current] > span {
	position: relative;
}

.topnav__links a[data-current] > span::before,
.topnav__links button[data-current] > span::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0.09375em;
	bottom: 0;
	left: 0;
	background-color: #0071bc;
	transform: scaleX(1);
}

@media (max-width: 900px) {
	.topnav {
		position: fixed;
		z-index: 1000;
	}

	.topnav__links {
		position: absolute;
		inset: 0;
		width: 100%;
		height: min-content;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 7rem 0 1.5em 1.5em;
		gap: 0.5em;
		background-color: #f2f8ee;
		z-index: 30;
		transform: translateY(-200%);
		transition: transform 1000ms ease-out;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.topnav__links[data-visible-mobile='true'] {
		transform: translateY(0%);
	}

	.topnav__button {
		display: flex;
		position: relative;
		--button-color: #1f1f1e;
		align-items: center;
		justify-content: center;
		margin-right: 1em;
		background: none;
		border: none;
		padding: 0;
		z-index: 9999;
	}

	.topnav__button .line {
		transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
		transform-origin: center;
	}

	.topnav__button[aria-expanded='true'] .line {
		transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
	}

	.topnav__button[aria-expanded='true'] :is(.top, .bottom) {
		y: 45px;
	}

	.topnav__button[aria-expanded='true'] .top {
		rotate: 45deg;
	}

	.topnav__button[aria-expanded='true'] .middle {
		opacity: 0;
	}

	.topnav__button[aria-expanded='true'] .bottom {
		rotate: -45deg;
	}

	.topnav__links li:last-child {
		margin-bottom: 0;
	}

	.topnav__links li a,
	.topnav__links li button {
		display: flex;
		align-items: flex-start;
	}

	.topnav__submenu[data-visible-mobile='true'] {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		background: none;
		padding: 0;
		margin-top: 0.5em;
		margin-left: 2em;
		margin-bottom: 0.25em;
		gap: 0.5em;
	}

	.topnav__links a span::before,
	.topnav__links button span::before {
		top: calc(100% + 6px);
	}
}

@media (max-width: 475px) {
	#navbar_logo_text {
		display: none;
	}

	#navbar_logo {
		margin: 0.5em 0 0.75em 0;
	}

	.topnav__links {
		padding-top: 5em;
	}
}
