* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.topnav-wrapper {
	position: fixed;
	z-index: 600;
	left: 0;
	right: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

.topnav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	z-index: 600;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f2f8ee;
}

.topnav__links {
	position: relative;
	z-index: 600;
	display: flex;
	gap: 2rem;
	align-items: center;
	margin: 0;
	padding: 0;
	flex-direction: row;
	margin-top: 0px;
	list-style-type: none;
}

#navbar_logo_link {
	position: relative;
	z-index: 600;
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}

#navbar_logo {
	width: 85px;
	margin: 0px;
}

#navbar_logo_text {
	margin-bottom: 10px;
}

#navbar_logo_name {
	font-family: 'Playwrite PE', cursive;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 5px;
}

#navbar_tagline {
	font-family: 'Comfortaa', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	color: #1f1f1e;
	margin: 0;
	padding-bottom: 10px;
}

a#navbar_logo_link {
	text-decoration: none;
	color: #0071bc;
}

.topnav__button {
	display: none;
}

.topnav__links button,
.topnav__links a {
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Tahoma, sans-serif;
	display: block;
	font-size: 16px;
	background: none;
	border: none;
	color: #1f1f1e;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-transform: uppercase;
	position: relative;
	width: min-content;
	white-space: nowrap;
}

.topnav__links li {
	position: relative;
	list-style: none;
}

.topnav__links li a,
.topnav__links li button {
	display: flex;
	color: #1f1f1e;
	text-align: center;
	justify-content: center;
	padding-bottom: 0.625em;
	text-decoration: none;
	position: relative;
}

.topnav__submenu {
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 13.125em;
	padding: 0.3125em 0;
	overflow: visible;
	background: white;
	color: #1f1f1e;
	list-style: none;
	text-decoration: none;
	margin-top: 1em;
}

.topnav__submenu .open-left {
	align-items: flex-end;
}

.topnav__links a.active:after,
.topnav__links button.active:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0.09375em;
	bottom: 0;
	left: 0;
	background-color: #1f1f1e;
	visibility: visible;
}

@media (min-width: 1001px) {
	.topnav {
		background-color: #f2f8ee;
		position: fixed;
	}

	@supports (backdrop-filter: blur(1rem)) {
		.topnav {
			background: hsl(0 0% 100% / 0.1);
			backdrop-filter: blur(1rem);
		}
	}

	.topnav__links li:last-child {
		margin-right: 1em;
		float: right;
	}

	.topnav__submenu .open-left {
		align-items: flex-end;
	}

	ul.open-left {
		right: 0;
		align-items: flex-end;
	}

	.has_submenu:hover > ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
		padding: 0.5em;
	}

	.has_submenu:hover::after {
		content: '';
		display: block;
		width: 100%;
		padding: 1em;
		height: 30px;
		margin-bottom: -30px;
	}

	.has_submenu li:last-child {
		align-items: flex-end;
		margin-right: 0;
	}

	.has_submenu li a:first-child {
		margin-top: 1.25em;
	}

	.has_submenu li a:last-child {
		margin-bottom: 0.625em;
	}

	.topnav__links a:hover,
	.topnav__links button:hover {
		color: #1f1f1e;
	}

	.topnav__links a::before,
	.topnav__links button::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 0.09375em;
		bottom: 0;
		left: 0;
		background-color: #0071bc;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}

	.topnav__links a:hover::before,
	.topnav__links button:hover::before {
		transform: scaleX(1);
	}

	.topnav__links a:hover::after,
	.topnav__links button:hover::after {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.topnav {
		background-color: #f2f8ee;
		position: fixed;
		z-index: 1000;
	}

	.topnav__links {
		position: absolute;
		inset: 0;
		width: 100%;
		height: min-content;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 1.5em 0 1.5em;
		padding: 7rem 0 1.5em 0;
		gap: 0.5em;
		background-color: white;
		z-index: 30;
		transform: translateY(-200%);
		transition: transform 1000ms ease-out;
	}

	.topnav__links[data-visible='true'] {
		transform: translateY(0%);
	}

	@supports (backdrop-filter: blur(1rem)) {
		.topnav__links {
			background: hsl(0 0% 100% / 0.3);
			backdrop-filter: blur(1rem);
		}
	}

	.topnav__button {
		display: flex;
		position: relative;
		--button-color: #1f1f1e;
		align-items: center;
		justify-content: center;
		margin-right: 0.5em;
		background: none;
		border: none;
		padding: 0;
		z-index: 9999;
	}

	.topnav__button .line {
		transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
		transform-origin: center;
	}

	.topnav__button[aria-expanded='true'] .line {
		transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
	}

	.topnav__button[aria-expanded='true'] :is(.top, .bottom) {
		y: 45;
	}

	.topnav__button[aria-expanded='true'] .top {
		rotate: 45deg;
	}

	.topnav__button[aria-expanded='true'] .middle {
		opacity: 0;
	}

	.topnav__button[aria-expanded='true'] .bottom {
		rotate: -45deg;
	}

	.topnav__links li:last-child {
		margin-bottom: 0;
	}

	.topnav__links li a,
	.topnav__links li button {
		display: flex;
		align-items: flex-start;
	}

	.topnav__submenu[data-visible='true'] {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		background: none;
		padding: 0;
		margin-top: 0.5em;
		margin-left: 2em;
		margin-bottom: 0.25em;
		gap: 0.5em;
	}
}

@media (max-width: 430px) {
	#navbar_logo_text {
		display: none;
	}

	#navbar_logo {
		margin-top: 0.5em;
	}

	.topnav__links {
		padding-top: 5em;
	}
}

@media (hover: none) {
}
