*,
*::after,
*::before {
	box-sizing: border-box;
}


:root {
	--bar-width: 50px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
	--foreground: #1f1f1e;
	--background: #f2f8ee;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}


.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}


.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0px;
    background-color: #f2f8ee;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
}

  
.topnav .logo-link {
    width: 100px;
    height: 100%;
    padding: 5px;
    margin-left: 50px;
}


.topnav .logo {
    width: 100%;
}
  

ul.nav-links {
	display: grid;
	grid-auto-flow: column;
	list-style-type: none;
	column-gap: 20px;
	padding: 0;
}


ul.nav-links a {
    display: block;
    font-size: 15px;
    color: #1f1f1e;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
	width: min-content;
	white-space: nowrap;
}


.nav-links li:last-child {
    margin-right: 50px;
}


.nav-links li {
    position: relative;
    list-style: none;
}


.nav-links li a {
    color: #1f1f1e;
    text-align: center;
    margin: 10px 20px 20px 20px;
    padding-bottom: 10px;
    text-decoration: none;
    position: relative;
  }


.nav-links a:hover {
    color: #1f1f1e;
}


.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #0071BC;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  
.nav-links a:hover::before {
    transform: scaleX(1);
  }


.nav-links a:hover::after {
    width: 100%;
  }
  
  
.nav-links a.active:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #1f1f1e;
  visibility: visible;
}


.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 210px;
  padding: 5px 0;
  overflow: visible;
  background: white;
}


.open-left {
    right: 0;
}
 

.dropdown-menu ul {
    color: #1f1f1e;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: absolute;  
}


.submenu:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


.submenu li:last-child {
    margin-right: 0px;
}


.submenu li a:first-child {
    margin-top: 20px;
}


.submenu li a:last-child {
    margin-bottom: 10px;
}


@media screen and (max-width: 800px) {
    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
    
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        right: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }
    
    
    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu:has(input:focus-visible) {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }
    
    
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), 
            rotate var(--animation-timing), translate var(--animation-timing), 
            background-color var(--animation-timing);
    }
    
    
    
    
    
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    
    
    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }
    
    
    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }  
    
    
    .mobile-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
}