#schedule-heading {
	font-size: 2.6em;
	margin-top: 3em;
}

#level-select-menu {
	display: none;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 2em;
	max-width: 700px;
	background: hsl(37 96% 80%);
	padding: 1em;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#selected-btn-wrapper {
	margin-top: 0.6em;
}
#open-selectmenu-wrapper {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin: auto;
}

#select-menu-title {
	font-size: 1.25em;
	padding: 0;
	margin-bottom: 0.75em;
}

#level-checkboxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1.5em;
	list-style: none;
	width: 100%;
}

.division-group {
	flex: 1 0 100px;
}

#level-checkboxes ul {
	list-style: none;
}

.parent-cb {
	text-align: left;
	font-weight: 1000;
	white-space: nowrap;
}

.child-cb {
	text-align: left;
	font-weight: 200;
	margin-left: 2em;
	white-space: nowrap;
}

.level-label {
	white-space: nowrap;
}

#select-levels-btn,
#clear-sch-btn,
#get-schedule-btn {
	padding: 0.75em 1.2em;
	border: none;
	background-color: hsl(204 100% 37%);
	color: white;
	font-size: 15px;
	font-weight: 400;
	border-radius: 25px;
	margin: 1.5em 0em;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#get-schedule-btn {
	margin: 1.1em 0 0.75em 0;
}

#select-levels-btn:hover,
#select-levels-btn:focus,
#clear-sch-btn:hover,
#get-schedule-btn:hover,
#get-schedule-btn:focus {
	background-color: hsl(204 100% 42%);
	color: white;
	transform: scale(1.08);
}

#schedules-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1.5em;
	justify-content: space-around;
	padding: 0.5em 1.5em;
}

.table-wrap {
	flex: 1 1 400px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background: hsl(37 96% 80%);
	border-radius: 0 0 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

th {
	background-color: #127bbf;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 0.95rem;
	font-weight: lighter;
	padding: 0 0.5rem 0.7rem 0.5rem;
}

td {
	text-align: left;
	padding: 0.7rem 0.4rem;
}

caption {
	text-align: center;
	background: #127bbf;
	color: white;
	font-size: 1.35rem;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
	padding: 0.7rem 0 0.5rem 0;
}

tbody tr:nth-child(odd) {
	background: hsl(37 96% 75%);
}

.day-cell {
	font-size: 1.25em;
	font-weight: 1000;
	color: #127bbf;
}

.time-cell {
	white-space: pre;
	font-weight: 1000;
}

.type-cell {
	font-weight: 800;
}

.studio-cell {
	white-space: nowrap;
}

@media (max-width: 900px) {
	#schedule-heading {
		font-size: 2.25em;
		margin-top: 3.5em;
	}

	#level-select-menu {
		max-width: 80%;
		position: absolute;
	}
}

@media (max-width: 475px) {
	#schedule-heading {
		font-size: 2.8em;
		margin-top: 0em;
	}

	#level-select-menu {
		margin: 1.5em;
		display: none;
		flex-wrap: wrap;
		max-width: 100%;
	}

	#open-selectmenu-wrapper {
		flex-direction: column;
		margin: 2em 0 1.5em 0;
	}

	#select-levels-btn,
	#clear-sch-btn {
		margin: auto;
		align-items: flex-start;
	}

	.division-group {
		margin-bottom: 0.5em;
	}

	#level-checkboxes {
		display: block;
		line-height: 1.4em;
	}

	#schedules-container {
		gap: 1em;
		padding: 1em;
	}

	td {
		display: grid;
		gap: 0.5rem;
		padding: 0rem 0.7rem;
	}

	td:first-child {
		padding-top: 0.75rem;
	}

	td:last-child {
		padding-bottom: 0.75rem;
	}

	.time-cell {
		white-space: normal;
	}
}
