#schedules-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2em;
	justify-content: space-around;
	padding: 1.5em;
}

.table-wrap {
	flex: 1 1 400px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background: hsl(37 96% 80%);
	border-radius: 10px;
}

th {
	display: none;
}

th,
td {
	padding: 0.7rem;
}

caption {
	text-align: center;
	background: #127bbf;
	color: white;
	font-size: 1.35rem;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
	padding: 0.7rem 0;
}

th,
td {
	text-align: left;
}

tbody tr:nth-child(odd) {
	background: hsl(37 96% 75%);
}

.day-cell {
	font-size: 1.25em;
	font-weight: 1000;
	color: #127bbf;
}

.time-cell {
	white-space: pre;
	font-weight: 1000;
}

.type-cell {
	font-weight: 800;
}

.studio-cell {
	white-space: nowrap;
}

@media (max-width: 450px) {
	#schedules-container {
		gap: 1em;
		padding: 1em;
	}

	td {
		display: grid;
		gap: 0.5rem;
		padding: 0.2rem 0.7rem;
	}

	td:first-child {
		padding-top: 0.75rem;
	}

	td:last-child {
		padding-bottom: 0.75rem;
	}

	.time-cell {
		white-space: normal;
	}
}
