body {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    background-color: #f2f8ee;
    text-align: center;
    color: #1f1f1e;
    margin: 0;
    padding: 0;
}


main {
    margin-top: 120px;
}
  

#logo-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#BYB-name-header {
    font-family: "Playwrite PE", cursive;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    color: #0071BC;
    margin: 20px 0;
  }


 #BYB-tagline {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
  }  


#BYB-butterfly {
    width: 300px;
    margin: 0;
}


.gold-text {
    color: #fbb038;
}


.blue-text {
    color: #0071BC;
}